/* Estilos de pagina de viajes 
*{
    outline: solid black;
}*/
/* Seleccion de body */
body { 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; /* Cambia tipografia */
    margin: 0; /* Elimina todo  el margen predefinido */
    padding: 0; /* Elimina todo el relleno de los elementos */
    background-color: #191F29;
    color: beige; /* Establece el color del texto */
}
/* Acá viene el estilo de una clase container */
.container {
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente elemento */ 
}
/* Estilo de encabezado */
header {
    background-color: #0F0D0D; /* Establece el color de fondo */
    padding: 20px 0; /* Añade relleno superior e inferior */
}
header h1 {
    margin: 0; /* Elimina todo  el margen predefinido del título */
}
/* Estilo de elemento de lista */
nav ul li {
    display: inline; /* Alinea lo selementos */
    margin-right: 20px; /* Margen hacia la derecha */
}
/* Estilo a elementos de vínculo ancla de navegacion */
nav ul li a {
    color: beige; /* Color a elemento anchor */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}
section {
    padding: 40px 0; /* Añade relleno superior e inferior */
}
#banner {
    background-image: url(../img/Banner.jpg); /* Establece laimagen de fondo del banner */
    background-size: cover; /* ajusta la imagen al área del banner */
    background-position-y: bottom;
    color: #fff; /* Establece color del texto */
    text-align: center; /* Centra el texto del banner */
    padding: 100px 0; /* Define relleno superior e inferior */
}
#banner h2 {
    font-size: 45px; /* Establece tamaño de h2 */
    margin-bottom: 0px;
    background:#0F0D0D;
    display: inline-block;
    padding-block: 5px;
    padding-inline: 12px;
    border-radius: 15px;
}
#banner p {
    font-size: 24px; /* Establece tamaño de p */
    margin-bottom: 35px; /* Define margen inferior */
    background:#0F0D0D;
    display: inline-block;
    padding-block: 5px;
    padding-inline: 12px;
    border-radius: 15px;
}
.btn {
    background-color: beige; /* Color de fondo del botón */
    color: darkcyan; /* Color del texto del botón */
    padding: 10px 20px; /* Relleno del botón */
    text-decoration: none; /* Quita decoración del enlace */
    border-radius: 25px;
    font-size: 20px;
}
/* Estilo cuando pasa elpuntero sobre el botón */
.btn:hover {
    background-color: lightsteelblue; /* Establece color de fondo en hover del botón */
}
.destinos-conteiner {
    display: flex; /* Coloca las cajas como si fueran celdas de tablas */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex-wrap: wrap; /* Si los elementos no caben en la misma linea los ajusta en una linea aparte abajo de la otra */
}
.destino {
    width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* Define el margen inferior */
    text-align: center; /* Centra el texto */
}
.destino img {
    width: 100%; /* Establece el ancho de la imagen, ajustándola al contenedor */
    border-radius: 10px; /* Redondea los bordes */
    transition: transform .3s
}
.destino h3 {
    font-size: 20px;
}
.destino img:hover {
    transform: scale(1.05);
    z-index: 0;
}
.destino h3 {
    margin-top: 10px; /* Distancia entre imagen y h3 */
}
.destino p {
    margin-top: 10px; /* Distancia superior entre h3 y p */
}

footer {
    background-color: #0F0D0D; /* Establece color de fondo del footer */
    color: #fff; /* Establece color de texto de footer */
    text-align: center; /* Centra el texto de footer */
    padding: 20px 0; /* Relleno del footer */
}

/* Aquí va el estilo del formulario de contacto */
#contacto {
    padding: 40px 0;
}
#contacto .container {
    text-align: center;
}
#contacto h2 {
    margin-bottom: 20px;
}
#contacto form {
    max-width: 500px; /* Establece el ancho máximo de los elementos del formulario */
    margin: 0 auto; /* Centra horizontalmente dentro del contenedor */
    padding: 20px;
    background-color: #0F0D0D;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1); /* Establece una sombra a la caja del formulario */
    color: beige;
}
#contacto label {
    display: block; /* Etiquetas en bloques */
    margin-bottom: 10px;
    font-weight: bold;
}
#contacto input, #contacto textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-sizing: border-box; /* ajusta el padding y el borde del ancho */
    background-color: beige;
}
#contacto textarea {
    resize: vertical; /* Permite redimensionar el área del texto verticalmente */
}
#contacto button {
    background-color: beige; /* Color de fondo del botón */
    color: #0F0D0D; /* Color del texto del botón */
    padding: 10px 20px; /* Relleno del botón */
    text-decoration: none; /* Quita decoración del enlace */
    border-radius: 20px;
    font-weight: bold;
}
/* Aquí viene la configuracion del popup */
* {
    text-decoration: none;
    box-sizing: border-box;
}
.container-all {
    width: 100%;
    height: 100%;
    padding: 40px;
    position: fixed; z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: all 600ms;
}
.container-all:target {
    background: rgba(0, 0, 0, 0.8);
    visibility: visible;
    opacity: 1;
}
.container-all:target .popup {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
}

.popup {
    width: 100%;
    max-width: 800px;
    height: 500px;
    position: relative;
    display: flex;
    background: #191F29;
    visibility: hidden;
    top: -80%;
    left: -80%;
    border-radius: 16px;
}
.img-popup1 {
    width: 40%;
    background-image: url(../img/TokyoPopup.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup2 {
    width: 40%;
    background-image: url(../img/NotreDame.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup3 {
    width: 40%;
    background-image: url(../img/GranEsfinge.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup4 {
    width: 40%;
    background-image: url(../img/Acropolis.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup5 {
    width: 40%;
    background-image: url(../img/Coliseo.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup6 {
    width: 40%;
    background-image: url(../img/BigBen.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup7 {
    width: 40%;
    background-image: url(../img/TajMahal.jpeg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup8 {
    width: 40%;
    background-image: url(../img/EscalerasSelaronRioJaneiro.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.img-popup9 {
    width: 40%;
    background-image: url(../img/BhubingPalace.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}
.container-text {
    width: 60%;
    padding: 50px;
    overflow-y: auto;
}
.container-text h1 {
    font-size: 24px;
}
.container-text p {
    margin-top: 20px;
    font-size: 17px;
}
.btn-close-popup {
    width: 50px;
    height: 50px;
    position: absolute;
    right: -25px;
    top: -20px;
    padding: 20px;
    background:#0F0D0D;
    color: beige;
    border-radius: 50%;
    line-height: 10px;
}
@media screen and (max-width: 900px;) {
    .popup {
        flex-direction: column;
        height: 100%;
        max-height: 800px;
    }
    .img-popup {
        width: 100%;
        height: 40%;
    }
    .container-text {
        width: 100%;
        height: 60%;
        padding: 80px;
    }
}




