/* Estilos de pagina de viajes 
*{
    outline: solid black;
}*/
/* Seleccion de body */
body { 
    font-family: Arial, Helvetica, sans-serif; /* Cambia tipografia */
    margin: 0; /* Elimina todo  el margen predefinido */
    padding: 0; /* Elimina todo el relleno de los elementos */
}
/* Acá viene el estilo de una clase container */
.container {
    width: 80%; /* Establece el ancho del contenedor en un 80% */
    margin: 0 auto; /* Centra horizontalmente elemento */ 
}
/* Estilo de encabezado */
header {
    background-color: #333; /* Establece el color de fondo */
    color: beige; /* Establece el color del texto */
    padding: 20px 0; /* Añade relleno superior e inferior */
}
header h1 {
    margin: 0; /* Elimina todo  el margen predefinido del título */
}
/* Estilo de elemento de lista */
nav ul li {
    display: inline; /* Alinea lo selementos */
    margin-right: 20px; /* Margen hacia la derecha */
}
/* Estilo a elementos de vínculo ancla de navegacion */
nav ul li a {
    color: beige; /* Color a elemento anchor */
    text-decoration: none; /* Quita el subrayado de los enlaces */
}
section {
    padding: 40px 0; /* Añade relleno superior e inferior */
}
#banner {
    background-image: url('https://www.globalia.com/wp-content/uploads/2020/03/avion-vuelos-menos-contaminantes-globalia-wakalua-1500x500.jpg'); /* Establece laimagen de fondo del banner */
    background-size: cover; /* ajusta la imagen al área del banner */
    color: #fff; /* Establece color del texto */
    text-align: center; /* Centra el texto del banner */
    padding: 100px 0; /* Define relleno superior e inferior */
}
#banner h2 {
    font-size: 36px; /* Establece tamaño de h2 */
    color: black;
}
#banner p {
    font-size: 18px; /* Establece tamaño de p */
    margin-bottom: 20px; /* Define margen inferior */
    color: black;
}
.btn {
    background-color: beige; /* Color de fondo del botón */
    color: darkcyan; /* Color del texto del botón */
    padding: 10px 20px; /* Relleno del botón */
    text-decoration: none; /* Quita decoración del enlace */
    border-radius: 20px;
}
/* Estilo cuando pasa elpuntero sobre el botón */
.btn:hover {
    background-color: lightsteelblue; /* Establece color de fondo en hover del botón */
}
.destinos-conteiner {
    display: flex; /* Coloca las cajas como si fueran celdas de tablas */
    justify-content: space-between; /* Distribuye uniformemente los elementos */
    flex-wrap: wrap; /* Si los elementos no caben en la misma linea los ajusta en una linea aparte abajo de la otra */
}
.destino {
    width: calc(33.33% - 20px); /* Establece el ancho de cada destino menos el espacio entre los destinos */
    margin-bottom: 20px; /* Define el margen inferior */
    text-align: center; /* Centra el texto */
}
.destino img {
    width: 100%; /* Establece el ancho de la imagen, ajustándola al contenedor */
    border-radius: 10px; /* Redondea los bordes */
}
.destino h3 {
    margin-top: 10px; /* Distancia entre imagen y h3 */
}
.destino p {
    margin-top: 10px; /* Distancia superior entre h3 y p */
}

footer {
    background-color: #333; /* Establece color de fondo del footer */
    color: #fff; /* Establece color de texto de footer */
    text-align: center; /* Centra el texto de footer */
    padding: 20px 0; /* Relleno del footer */
}